<div class="row">
  <div class="col-md-1">#{{invoice.id}}</div>
  <div class="col-md-3">${{invoice.total}}</div>
  <div class="col-md-3">-{{invoice.discount}}%</div>
  <div class="col-md-2">
  	<a class="btn btn-default" routerLink="/invoice/{{invoice.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
  	<a class="btn btn-danger" (click)="deleteClick()"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
</div>
