<h4>
  customers list! 
</h4>
<div class="row">
	<button class="btn btn-default" (click)="getCustomers()"><i class="glyphicon glyphicon-refresh"> Refresh</i></button>
	<button class="btn btn-default" (click)="onCreate()"><i class="glyphicon glyphicon-plus"> Create new</i></button>
</div>


<app-customer-item *ngFor="let cust of customers" (click)="onSelect(cust)" [customer]="cust" (onDelete)="deleteCustomer($event)">
</app-customer-item>

<p class="error"> {{this.error}} </p>

