<div class="container" *ngIf="product">
	<h2>{{product.name}} Editing</h2>
	<form>
		<div class="form-group">
			<label>Name:</label>
			<input [(ngModel)]="product.name" placeholder="name" class="form-control" name="name">
		</div>
		<div class="form-group">
			<label>Price $:</label>
			<input [(ngModel)]="product.price" placeholder="price" class="form-control" name="price">
		</div>
		<div class="row">
			<div class="col-md-10">
				<app-edited-created [data]="product"></app-edited-created>
			</div>
			<div class="col-md-2">
				<button class="btn btn-warning" (click)="onSave()"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
				<button class="btn btn-default" (click)="onCancel()"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
			</div>
		</div>
	</form>

</div>