<div class="row">
  <div class="col-md-5">{{customer.name}}</div>
  <div class="col-md-3">{{customer.phone}}</div>
  <div class="col-md-2">
  	<a class="btn btn-default" routerLink="/customer/{{customer.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
  	<a class="btn btn-danger" (click)="deleteClick()"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
</div>
