<div class="container" *ngIf="invoice">
	<h2>#{{invoice.id}} Editing</h2>
	<form>
		<div class="form-group">
			<label>Customer:</label>
			<select [(ngModel)]="invoice.customer_id" placeholder="cutomer" class="form-control" name="customer_id">
				<option *ngFor="let cust of customers" [ngValue]="cust.id">
				    {{cust.name}}
				</option>
			</select>
		</div>
		<div class="form-group">
			<label>Items:</label> <button class="btn btn-default" (click)="addItem()"><i class="glyphicon glyphicon-plus"> Add</i></button>
			<app-invoice-item-detail *ngFor="let iItem of invoiceItems" 
				[invoiceItem]="iItem"
				(onChange)="calculateInvoiceSubTotal()" 
				(onDelete)="deleteItem($event)"></app-invoice-item-detail>
		</div>
		<div class="form-group">
			<label>Sub total:</label>
			<b>${{subTotal | number}}</b>
		</div>
		<div class="form-group">
			<label>Discount:</label>
			<input [(ngModel)]="invoice.discount" (change)="calculateTotal()" placeholder="discount" class="form-control" name="discount">
		</div>
		<div class="form-group">
			<label>Grand total:</label>
			<b>${{invoice.total}}</b>
		</div>
		<div class="row">
			<div class="col-md-10">
				<app-edited-created [data]="invoice"></app-edited-created>
			</div>
			<div class="col-md-2">
				<button class="btn btn-warning" (click)="onSave()"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
				<button class="btn btn-default" (click)="onCancel()"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
			</div>
		</div>
	</form>

</div>