<p *ngIf="data.createdAt">
  Created at {{data.createdAt | date:'HH:mm dd/MM/yy'}}
  <ng-container *ngIf="data.updatedAt">
	  Edited at {{data.updatedAt | date:'HH:mm dd/MM/yy'}}
  </ng-container>
</p>
