<div class="row">
  <div class="col-md-5">{{product.name}}</div>
  <div class="col-md-3">${{product.price}}</div>
  <div class="col-md-2">
  	<a class="btn btn-default" routerLink="/product/{{product.id}}"><span class="glyphicon glyphicon-pencil"></span></a>
  	<a class="btn btn-danger" (click)="deleteClick()"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
</div>
