<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-default navbar-static-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" routerLink="/">Invoice App</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><a routerLink="/products" routerLinkActive="active">Products</a></li>
        <li><a routerLink="/customers" routerLinkActive="active">Customers</a></li>
        <li><a routerLink="/invoices" routerLinkActive="active">Invoices</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>
<div class="container">
  <router-outlet></router-outlet>
  <div class="preloader-container" [class.hidden]="!showProgress"><div class="loader"></div></div>
  
</div> <!-- /container -->

