<h4>
  invoices list! 
</h4>
<div class="row">
	<button class="btn btn-default" (click)="getInvoices()"><i class="glyphicon glyphicon-refresh"> Refresh</i></button>
	<button class="btn btn-default" (click)="onCreate()"><i class="glyphicon glyphicon-plus"> Create new</i></button>
</div>


<app-invoice-item *ngFor="let invc of invoices" [invoice]="invc" (onDelete)="deleteInvoice($event)">
</app-invoice-item>

<p *ngIf="invoices?.length == 0">
	There is no created invoices yet.
</p>

<p class="error"> {{this.error}} </p>
