<div class="container" *ngIf="customer">
	<h2>{{customer.name}} Editing</h2>
	<form>
		<div class="form-group">
			<label>Name:</label>
			<input [(ngModel)]="customer.name" placeholder="name" class="form-control" name="name">
		</div>
		<div class="form-group">
			<label>Address:</label>
			<input [(ngModel)]="customer.address" placeholder="address" class="form-control" name="address">
		</div>
		<div class="form-group">
			<label>Phone:</label>
			<input [(ngModel)]="customer.phone" placeholder="phone" class="form-control" name="phone">
		</div>
		<div class="row">
			<div class="col-md-10">
				<app-edited-created [data]="customer"></app-edited-created>
			</div>
			<div class="col-md-2">
				<button class="btn btn-warning" (click)="onSave()"><i class="glyphicon glyphicon-floppy-disk"></i>Save</button>
				<button class="btn btn-default" (click)="onCancel()"><i class="glyphicon glyphicon-remove"></i>Cancel</button>
			</div>
		</div>
	</form>

</div>