<div class="row">
  <div class="col-md-3">
	<select [(ngModel)]="invoiceItem.product_id" placeholder="cutomer" class="form-control" name="product_id" (change)="onProductSelected($event)">
		<option *ngFor="let prod of products" [ngValue]="prod.id">
		    {{prod.name}}
		</option>
	</select>
  </div>
  <div class="col-md-3">
  	<input type="number" [(ngModel)]="invoiceItem.quantity" (change)="emitChange()" placeholder="quantity" name="quantity">
  </div>
  <div class="col-md-3">
  	x {{selectedProduct?.price}} = <b>{{total}}</b>
  </div>
  
  <div class="col-md-2">
  	<a class="btn btn-danger" (click)="deleteClick()"><span class="glyphicon glyphicon-trash"></span></a>
  </div>
</div>