<h4>
  products list! 
</h4>
<div class="row">
	<button class="btn btn-default" (click)="getProducts()"><i class="glyphicon glyphicon-refresh"> Refresh</i></button>
	<button class="btn btn-default" (click)="onCreate()"><i class="glyphicon glyphicon-plus"> Create new</i></button>
</div>


<app-product-item *ngFor="let prod of products" (click)="onSelect(prod)" [product]="prod" (onDelete)="deleteProduct($event)">
</app-product-item>

<p class="error"> {{this.error}}</p>
